[data-bspk='avatar-group'] {
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: visible;

    [data-wrap] {
        min-width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        justify-content: center;
    }

    // data-gap={variant === 'spread' ? (small ? '01' : '02') : undefined}

    &[data-variant='spread'] {
        --avatar-border: none;

        [data-bspk='avatar'] + [data-bspk='avatar'] {
            margin-left: var(--spacing-sizing-02);
        }
    }

    &[data-variant='stacked'] {
        --avatar-border: solid 1px var(--stroke-neutral-low);

        [data-bspk='avatar'] + [data-bspk='avatar'] {
            margin-left: calc(var(--spacing-sizing-02) * -1);
        }
    }

    [data-bspk-owner='avatar-overflow'] {
        --avatar-border: solid 1px var(--stroke-neutral-low);

        background-color: var(--surface-neutral-t1-base);
    }
}
