[data-bspk='avatar-group'] {
    width: 100%;

    [data-wrap] {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;
        overflow: hidden;
    }

    [data-gap='02'] {
        gap: var(--spacing-sizing-02);
    }

    [data-gap='04'] {
        gap: var(--spacing-sizing-04);
    }

    [data-stacked='04']:not(:last-child) {
        margin-right: -8px;
    }

    [data-stacked='02']:not(:last-child) {
        margin-right: -4px;
    }
}
