[data-bspk='page-control'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
    border-radius: 12px;
    border: 1px solid var(--stroke-neutral-low);
    padding: var(--spacing-sizing-02);
    gap: var(--spacing-sizing-02);
    width: fit-content;

    [data-dot] {
        background-color: var(--surface-neutral-t3-low);
        border-radius: 50%;

        &[data-active='true'] {
            background-color: var(--foreground-brand-primary);
        }

        &[data-size='small'] {
            width: 4px;
            height: 4px;
            margin: 2px;
        }

        &[data-size='medium'] {
            width: 6px;
            height: 6px;
            margin: 1px;
        }

        &[data-size='large'] {
            width: 8px;
            height: 8px;
        }
    }

    &[data-variant='floating'] {
        box-shadow: var(--drop-shadow-float);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
