[data-bspk='time-input'] {
    --border-color: var(--stroke-neutral-base);

    display: flex;
    flex-flow: row;
    background-color: var(--surface-neutral-t1-base);
    border: solid 1px var(--border-color);
    height: var(--field-height);
    border-radius: var(--radius-sm);
    padding: 0 0 0 var(--field-padding);
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    &:hover:not(:focus-within, &[data-open]) {
        background:
            linear-gradient(var(--interactions-hover-opacity), var(--interactions-hover-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &:active:not(:focus-within) {
        background:
            linear-gradient(var(--interactions-press-opacity), var(--interactions-press-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &[data-readonly] {
        --border-color: var(--stroke-neutral-disabled-light);

        background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &[data-disabled],
    &:has(input[disabled]) {
        --border-color: var(--stroke-neutral-disabled-light);

        background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));

        & > * {
            color: var(--foreground-neutral-disabled-on-surface);
        }
    }

    &[data-invalid] {
        --border-color: var(--status-error);
    }

    &[data-size='small'] {
        --field-padding: var(--spacing-sizing-02);
        --field-height: var(--spacing-sizing-08);
        --field-font: var(--body-small);
    }

    &[data-size='medium'] {
        --field-padding: var(--spacing-sizing-03);
        --field-height: var(--spacing-sizing-10);
        --field-font: var(--body-base);
    }

    &[data-size='large'] {
        --field-padding: var(--spacing-sizing-03);
        --field-height: var(--spacing-sizing-12);
        --field-font: var(--body-large);
    }

    [aria-hidden] {
        font: var(--field-font);
    }

    [data-input] {
        background-color: transparent !important;
        border: none;
        outline: none;
        padding: 0;
        height: var(--field-height);
        font: var(--field-font);
        min-width: 0;
        text-align: right;
        line-height: var(--field-height);
        width: fit-content;

        &[data-type='meridiem'] {
            text-transform: uppercase;
            margin-left: 0.25em;
        }

        * {
            pointer-events: none;
        }
    }

    [data-bspk='button'] {
        margin-left: auto;

        &:focus {
            outline-offset: -4px;
            border-radius: var(--radius-md);
        }
    }

    &:focus-within,
    &[data-open] {
        --border-color: var(--stroke-neutral-focus);

        outline: 1px solid var(--stroke-neutral-focus);
    }
}

[data-bspk-owner='time-input'][data-bspk-utility='menu'] {
    overflow: hidden;
    height: 324px;

    [data-scroll-values] {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        overflow: hidden;
        justify-content: center;
        align-items: start;
        gap: var(--spacing-sizing-04);
        padding: var(--spacing-sizing-04);

        [data-scroll-column] {
            padding: 0 var(--spacing-sizing-01);
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: hidden auto;
            font: var(--labels-base);
            gap: var(--spacing-sizing-02);
            align-items: center;
            justify-content: start;

            span {
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                width: var(--spacing-sizing-13);
                flex: 0;
                border-radius: var(--radius-sm);
                font: var(--labels-base);
                line-height: var(--spacing-sizing-10);

                &[aria-selected] {
                    background: var(--surface-brand-primary);
                    color: var(--foreground-brand-on-primary);
                }
            }

            &:focus {
                outline: none;

                span[data-active] {
                    background: var(--interactions-neutral-hover-opacity);
                    outline: 2px solid var(--interactions-neutral-hover-opacity);
                    outline-offset: -2px;

                    &[aria-selected] {
                        background: var(--surface-brand-primary);
                        color: var(--foreground-brand-on-primary);
                    }
                }
            }
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
