[data-bspk='time-input'] {
    --border-color: var(--stroke-neutral-base);

    display: flex;
    flex-flow: row;
    background-color: var(--surface-neutral-t1-base);
    border: solid 1px var(--border-color);
    height: var(--field-height);
    border-radius: var(--radius-sm);
    padding: 0 0 0 var(--field-padding);
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    &:hover:not(:focus-within) {
        background:
            linear-gradient(var(--interactions-hover-opacity), var(--interactions-hover-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &:active:not(:focus-within) {
        background:
            linear-gradient(var(--interactions-press-opacity), var(--interactions-press-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &[data-readonly] {
        --border-color: var(--stroke-neutral-disabled-light);

        background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &[data-disabled],
    &:has(input[disabled]) {
        --border-color: var(--stroke-neutral-disabled-light);

        background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));

        & > * {
            color: var(--foreground-neutral-disabled-on-surface);
        }
    }

    &[data-invalid] {
        --border-color: var(--status-error);
    }

    &[data-size='small'] {
        --field-padding: var(--spacing-sizing-02);
        --field-height: var(--spacing-sizing-08);
        --field-font: var(--body-small);
    }

    &[data-size='medium'] {
        --field-padding: var(--spacing-sizing-03);
        --field-height: var(--spacing-sizing-10);
        --field-font: var(--body-base);
    }

    &[data-size='large'] {
        --field-padding: var(--spacing-sizing-03);
        --field-height: var(--spacing-sizing-12);
        --field-font: var(--body-large);
    }

    [aria-hidden] {
        font: var(--field-font);
    }

    [data-input] {
        background-color: transparent !important;
        border: none;
        outline: none;
        padding: 0;
        height: var(--field-height);
        font: var(--field-font);
        min-width: 0;
        text-align: right;
        line-height: var(--field-height);
        width: fit-content;

        &[data-type='meridiem'] {
            text-transform: uppercase;
            margin-left: 0.25em;
        }

        * {
            pointer-events: none;
        }
    }

    button {
        margin-left: auto;
    }

    &:focus-within {
        --border-color: var(--stroke-neutral-focus);

        outline: 1px solid var(--stroke-neutral-focus);
    }
}

[data-bspk-owner='time-input'] [data-scroll-values] {
    display: flex;
    flex-direction: row;
    width: calc(100% - 32px);
    height: 324px;
    justify-content: center;
    align-items: center;
    margin: 16px;
    gap: var(--spacing-sizing-04);

    [data-scroll-column] {
        display: flex;
        flex-direction: column;
        max-height: 356px;
        overflow: hidden auto;
        text-align: center;
        font: var(--labels-base);
        gap: var(--spacing-sizing-02);
        padding: 0 var(--spacing-sizing-10);

        &:focus {
            outline: none;
        }

        span {
            display: flex;
            line-height: var(--spacing-sizing-10);
            width: var(--spacing-sizing-13);
            flex: 0;
            border-radius: var(--radius-sm);

            &[data-active] {
                background: var(--surface-brand-primary);
                color: var(--foreground-brand-on-primary);
                font-weight: 600;
            }

            &[data-selected] {
                background: var(--surface-brand-primary);
                color: var(--foreground-brand-on-primary);
                font-weight: 600;
            }
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
