[data-bspk='radio'] {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    input[type='radio'] {
        cursor: pointer;
        width: var(--spacing-sizing-05);
        height: var(--spacing-sizing-05);
        border-radius: 50%;
        border-width: 2px;
        border-style: solid;
        border-color: var(--stroke-neutral-base);
        appearance: none;
    }

    input[type='radio']:checked {
        border: 2px solid var(--stroke-brand-primary);
    }

    [data-checked] {
        cursor: pointer;
        width: var(--spacing-sizing-03);
        height: var(--spacing-sizing-03);
        border-radius: 50%;
        background-color: var(--foreground-brand-primary);
        position: absolute;
    }

    [data-checked-invalid] {
        background-color: var(--status-error);
    }

    [data-checked-disabled] {
        background-color: var(--foreground-neutral-disabled-on-surface);
    }

    input[type='radio']:not(:disabled) {
        &:hover {
            background-color: var(--interactions-neutral-hover-opacity);
        }

        &:active {
            background-color: var(--interactions-neutral-press-opacity);
        }

        &[data-invalid] {
            border-color: var(--status-error);
        }
    }

    input[type='radio']:disabled {
        pointer-events: none;
        border-color: var(--stroke-neutral-interactions-disabled-light);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
