[data-bspk='radio'] {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    input[type='radio'] {
        cursor: pointer;
        border-radius: 50%;
        border-width: 2px;
        border-style: solid;
        border-color: var(--stroke-neutral-base);
        appearance: none;
        box-sizing: content-box;

        // with a border width of 2px, and box-sizing content-box, the overall size is 20px (16px + 2*2px)
        width: var(--spacing-sizing-04);
        height: var(--spacing-sizing-04);

        // to prevent slight alignment issues with input checked state when browser scaling is applied (command + / command -)
        transform: scale(0.99);
    }

    input[type='radio']:checked {
        border-color: var(--stroke-brand-primary);
    }

    [data-checked] {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--foreground-brand-primary);
        position: absolute;
        transform: scale(0.6);
    }

    [data-checked-invalid] {
        background-color: var(--status-error);
    }

    [data-checked-disabled] {
        background-color: var(--foreground-neutral-disabled-on-surface);
    }

    input[type='radio']:not(:disabled) {
        &:hover {
            background-color: var(--interactions-neutral-hover-opacity);
        }

        &:active {
            background-color: var(--interactions-neutral-press-opacity);
        }

        &[data-invalid] {
            border-color: var(--status-error);
        }
    }

    input[type='radio']:disabled {
        pointer-events: none;
        border-color: var(--stroke-neutral-interactions-disabled-light);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
