[data-bspk='upload-item'] {
    display: flex;
    flex-direction: column;
    width: 100%;

    [data-row] {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: var(--spacing-sizing-02) var(--spacing-sizing-04);
        gap: var(--spacing-sizing-04);
    }

    [data-icon] {
        padding: var(--spacing-sizing-02);
        width: fit-content;
        display: flex;
        flex: 0 0 auto;
    }

    [data-title] {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
    }

    [data-status] {
        padding: 0 var(--spacing-sizing-18) 0 var(--spacing-sizing-18);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
