[data-bspk='badge-wrapper'] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;

    [data-bspk='badge'] {
        position: absolute;
        top: 0;
        right: 0;
        transform: scale(1) translate(50%, -50%);
        transform-origin: 100% 0%;
        z-index: 2;
    }
}
