node_modules
.vscode
dist
packages
*.tgz
*.d.ts
!declaration.d.ts
*.js.map
*.js
!.scripts
!.scripts/*
documentation-todos.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.local
public
.scripts/*.json
package
.DS_Store
.scripts/style-imports.ts
.gitlab-ci.yml
