node_modules
dist
packages
*.tgz
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.scripts/*.json
src/package.json
src/*.css
_virtual
package
src/meta.ts
types.json
component-files.json
.tmp
.scripts/temp.ts
.cli