
//anywhere.jfrog.io/artifactory/api/npm/anywhere-npm/:_authToken="${NPM_TOKEN}"
engine-strict=true
email="${NPM_EMAIL}"
always-auth=true
registry=https://anywhere.jfrog.io/artifactory/api/npm/anywhere-npm/