[data-bspk='tab-group'] {
    border-bottom: none;

    li {
        border: 0;
        color: var(--foreground-neutral-on-surface-variant-02);
        background: none;
        border-bottom: 1px solid var(--stroke-neutral-low);

        &:not([aria-disabled]) {
            &[data-active] {
                background: var(--interactions-neutral-hover-opacity);
            }

            &:active {
                background: var(--interactions-neutral-press-opacity);
            }
        }

        &[aria-disabled] {
            color: var(--foreground-neutral-disabled-on-surface);
        }

        [data-inner] {
            position: relative;
            gap: var(--spacing-sizing-02);
            margin: 0 var(--spacing-sizing-04);
        }

        &[aria-selected] {
            color: var(--foreground-brand-primary);

            [data-inner] {
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: var(--stroke-brand-primary);
                    bottom: -1px;
                    position: absolute;
                    border-top-right-radius: 2px;
                    border-top-left-radius: 2px;
                }

                svg {
                    color: var(--surface-brand-primary);
                }
            }
        }
    }

    &[data-show-trail] {
        border-bottom: 1px solid var(--stroke-neutral-low);

        li {
            border-bottom: none;
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
