[data-bspk='tab-group'] {
    display: flex;
    flex-direction: row;

    --btn-flex-grow: 0;

    border-bottom: 1px solid var(--stroke-neutral-low);
    width: 100%;

    &[data-width='fill'] {
        align-items: stretch;
        width: 100%;

        --btn-flex-grow: 1;
    }

    --font: var(--labels-base);
    --height: var(--spacing-sizing-10);

    &[data-size='small'] {
        --font: var(--labels-small);
        --height: var(--spacing-sizing-08);
    }

    &[data-size='large'] {
        --font: var(--labels-large);
        --height: var(--spacing-sizing-12);
    }

    button {
        border: 0;
        cursor: pointer;
        color: var(--foreground-neutral-on-surface-variant-02);
        background: none;
        flex-grow: var(--btn-flex-grow);
        font: var(--font);
        white-space: nowrap;

        &:hover {
            background: var(--interactions-neutral-hover-opacity);
        }

        &:active {
            background: var(--interactions-neutral-press-opacity);
        }

        &:disabled {
            pointer-events: none;
            color: var(--foreground-neutral-disabled-on-surface);
        }

        &:focus-visible {
            outline: solid 2px var(--stroke-neutral-focus);
        }

        span {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 var(--spacing-sizing-04);
            height: var(--height);
            justify-content: center;
            position: relative;
            gap: var(--spacing-sizing-02);

            svg {
                width: var(--spacing-sizing-05);
            }
        }

        &[data-active] {
            color: var(--foreground-brand-primary);

            span {
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: var(--stroke-brand-primary);
                    bottom: -1px;
                    position: absolute;
                    border-top-right-radius: 2px;
                    border-top-left-radius: 2px;
                }

                svg {
                    color: var(--surface-brand-primary);
                }
            }
        }
    }

    &[data-hide-trail] {
        border-bottom: none;

        button {
            border-bottom: 1px solid var(--stroke-neutral-low);
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
