[data-bspk='otp-input'] {
    width: fit-content;
    position: relative;

    [data-digits] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: var(--spacing-sizing-02);
        width: fit-content;
        position: relative;

        input[data-digit] {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: var(--radius-sm);
            border: 1px solid var(--stroke-neutral-base);
            flex-grow: 1;
            aspect-ratio: 1;
            width: var(--width);
            position: relative;
            outline: none;
            text-align: center;
            font: var(--font);

            &:focus {
                outline: solid 2px var(--stroke-neutral-focus);
                isolation: isolate;
            }
        }
    }

    &[data-size='small'] {
        --width: var(--spacing-sizing-08);
        --font: var(--subheader-medium);
        --caret-height: var(--subheader-medium-line-height);
    }

    &[data-size='medium'] {
        --width: var(--spacing-sizing-10);
        --font: var(--subheader-large);
        --caret-height: var(--subheader-large-line-height);
    }

    &[data-size='large'] {
        --width: var(--spacing-sizing-12);
        --font: var(--subheader-x-large);
        --caret-height: var(--subheader-x-large-line-height);
    }

    &[data-invalid] {
        [data-digit] {
            border-color: var(--status-error);
        }
    }
}

/** Copyright 2026 Anywhere Real Estate - CC BY 4.0 */
