[data-bspk='otp-input'] {
    width: fit-content;
    position: relative;

    --border-color: var(--stroke-neutral-base);
    --background: var(--surface-neutral-t1-base);
    --color: unset;

    [data-digits] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: var(--spacing-sizing-02);
        width: fit-content;
        position: relative;

        [data-digit] {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: var(--radius-sm);
            border: 1px solid var(--border-color);
            flex-grow: 1;
            aspect-ratio: 1;
            width: var(--width);
            position: relative;
            outline: none;
            text-align: center;
            font: var(--font);
            background: var(--background);
            color: var(--color);

            &:focus {
                outline: solid 2px var(--stroke-neutral-focus);
                isolation: isolate;
            }
        }
    }

    &:hover:not(:focus-within) {
        --background:
            linear-gradient(var(--interactions-hover-opacity), var(--interactions-hover-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &:active:not(:focus-within) {
        --background:
            linear-gradient(var(--interactions-press-opacity), var(--interactions-press-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &[data-readonly] {
        --border-color: var(--stroke-neutral-disabled-light);
        --background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &[data-disabled],
    &:has([data-main-input][disabled]) {
        --border-color: var(--stroke-neutral-disabled-light);
        --background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
        --color: var(--foreground-neutral-disabled-on-surface);
    }

    &[data-invalid] {
        --border-color: var(--status-error);
    }

    &[data-size='small'] {
        --width: var(--spacing-sizing-08);
        --font: var(--subheader-medium);
        --dot: var(--spacing-sizing-05);
    }

    &[data-size='medium'] {
        --width: var(--spacing-sizing-10);
        --font: var(--subheader-large);
        --dot: var(--spacing-sizing-05);
    }

    &[data-size='large'] {
        --width: var(--spacing-sizing-12);
        --font: var(--subheader-x-large);
        --dot: var(--spacing-sizing-06);
    }

    [data-secure-dots] {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        pointer-events: none;

        [data-dot] {
            width: var(--width);
            display: flex;
            justify-content: center;

            svg {
                width: var(--dot);
            }
        }
    }
}

/** Copyright 2026 Anywhere Real Estate - CC BY 4.0 */
