[data-bspk='menu'] {
    --overflow-y: hidden;

    width: 332px;
    box-sizing: border-box;
    border: 1px solid var(--stroke-neutral-low);
    background-color: var(--surface-neutral-t1-base);
    box-shadow: var(--drop-shadow-float);
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;

    &[data-scroll='true'] {
        overflow: hidden scroll;
        max-height: calc(calc(var(--item-display-count, 1) * var(--list-item-height)) + 2px /* borders */);
    }

    &[data-floating] {
        z-index: var(--z-index-dropdown);
    }

    [data-bspk='list-item'] {
        &[data-selected] {
            background-color: var(--surface-brand-primary-highlight);
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
