[data-bspk='progression-stepper'] {
    width: 100%;

    --circle-width: var(--spacing-sizing-09);
    --active-background-color: var(--surface-brand-primary);
    --active-foreground-color: var(--foreground-brand-on-primary);
    --inactive-background-color: var(--surface-neutral-t3-low);
    --inactive-foreground-color: var(--foreground-neutral-on-surface);

    ol {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: var(--spacing-sizing-02);
            flex-grow: 1;

            [data-line-circle] {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                [data-line] {
                    background-color: var(--inactive-background-color);
                    height: 2px;
                    flex-grow: 1;
                }

                [data-circle] {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: var(--circle-width);
                    height: var(--circle-width);
                    border-radius: 50%;
                    background-color: none;
                    border: 2px solid var(--inactive-background-color);
                    font: var(--labels-large);

                    svg {
                        display: none;
                        width: var(--spacing-sizing-06);
                        height: var(--spacing-sizing-06);
                    }
                }
            }

            [data-content] {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                [data-variant='horizontal'] & {
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }

                padding: 0 var(--spacing-sizing-10);
                font: var(--body-small);
                text-align: center;
            }

            &:first-of-type {
                [data-line='before'] {
                    visibility: hidden;
                }
            }

            &:last-of-type {
                [data-line='after'] {
                    visibility: hidden;
                }
            }

            &[data-status='complete'] {
                [data-line] {
                    background-color: var(--active-background-color);
                }

                [data-circle] {
                    background-color: var(--active-background-color);
                    border: 1px solid var(--active-background-color);
                    color: var(--active-foreground-color);

                    span {
                        display: none;
                    }

                    svg {
                        display: block;
                    }
                }
            }

            &[data-status='current'] {
                [data-line='before'] {
                    background-color: var(--active-background-color);
                }

                [data-circle] {
                    border-color: var(--active-background-color);
                }
            }
        }
    }

    &[data-variant='vertical'] {
        ol {
            flex-direction: column;
        }

        li {
            flex-direction: row;

            [data-line-circle] {
                flex-direction: column;
                width: var(--circle-width);

                [data-line] {
                    width: 2px;
                    height: auto;
                }
            }

            [data-content] {
                flex-direction: column;
                padding: var(--spacing-sizing-10) 0;
            }
        }
    }

    &[data-variant='widget'] {
        --circle-width: var(--spacing-sizing-05);

        label {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-sizing-02);
            margin-bottom: var(--spacing-sizing-03);
            font: var(--body-small);

            [data-title] {
                font: var(--labels-base);
                color: var(--foreground-neutral-on-surface);
            }

            [data-subtitle] {
                font: var(--body-x-small);
                color: var(--foreground-neutral-on-surface-variant-02);
            }
        }

        ol {
            align-items: center;
            min-height: var(--spacing-sizing-09);

            li {
                flex-grow: 1;

                [data-line-circle] {
                    [data-line='after'] {
                        flex-grow: 1;
                    }

                    [data-line='before'] {
                        display: none;
                    }
                }

                &:last-of-type {
                    flex-grow: 0;

                    [data-line='after'] {
                        display: none;
                    }
                }

                &[data-status='current'] {
                    --circle-width: var(--spacing-sizing-09);
                }

                &[data-status='incomplete'] {
                    [data-circle] {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
