[data-bspk='upload-item'] {
    display: flex;
    flex-direction: column;
    width: 100%;

    [data-row] {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        padding: var(--spacing-sizing-02) var(--spacing-sizing-04);
        gap: var(--spacing-sizing-04);
    }

    [data-icon] {
        padding: var(--spacing-sizing-02);
        width: fit-content;
        display: flex;
        flex: 0 0 auto;
    }

    [data-info] {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        min-width: 0;
    }

    [data-file-name] {
        font: var(--body-small);
    }

    [data-file-details] {
        color: var(--foreground-neutral-on-surface-variant-01);
        font: var(--body-x-small);
    }

    @media (width >= 640px) {
        [data-status] {
            padding: 0 var(--spacing-sizing-18);
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
