[data-bspk='banner-alert'] {
    --color: var(--status-information);
    --on-color: var(--status-on-information);

    display: flex;
    flex-direction: row;
    border: 2px solid var(--color);
    border-radius: var(--radius-medium);
    background-color: var(--surface-neutral-t1-base);
    width: 100%;

    &[data-variant='error'] {
        --color: var(--status-error);
        --on-color: var(--status-on-error);
    }

    &[data-variant='success'] {
        --color: var(--status-success);
        --on-color: var(--status-on-success);
    }

    &[data-variant='warning'] {
        --color: var(--status-warning);
        --on-color: var(--status-on-warning);
    }

    &[data-elevated] {
        box-shadow: var(--drop-shadow-raise);
    }

    [data-icon-bar] {
        flex: 1;
        padding: var(--spacing-sizing-04) var(--spacing-sizing-03);
        background: var(--color);
        color: var(--on-color);

        svg {
            width: var(--spacing-sizing-06);
            height: var(--spacing-sizing-06);
        }
    }

    [data-content] {
        flex: 100%;
        display: flex;
        flex-direction: column;
        padding: var(--spacing-sizing-02) var(--spacing-sizing-02) var(--spacing-sizing-02) var(--spacing-sizing-04);

        header {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-sizing-03);
            height: var(--spacing-sizing-12);
            align-items: center;

            span {
                flex: 1;
                display: flex;
                align-items: center;
                color: var(--foreground-neutral-on-surface);
                font: var(--heading-h6);

                @media (any-pointer: coarse) {
                    font: var(--heading-h6);
                }
            }

            // close button
            button {
                background: none;
                border: none;
                cursor: pointer;
                padding: 0;
                margin: 0 0 0 auto;
                color: var(--foreground-neutral-on-surface-variant-01);
                height: var(--spacing-sizing-08);
                width: var(--spacing-sizing-08);

                @media (any-pointer: coarse) {
                    height: var(--spacing-sizing-12);
                    width: var(--spacing-sizing-12);
                }

                svg {
                    width: var(--spacing-sizing-04);
                    height: var(--spacing-sizing-04);
                }
            }
        }

        [data-body] {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-sizing-02);
            padding: 0 var(--spacing-sizing-02) var(--spacing-sizing-02) 0;

            span {
                font: var(--body-base);
            }

            button {
                margin-left: auto;
                background: none;
                border: none;
                cursor: pointer;
                padding: 0 var(--spacing-sizing-03);
                height: var(--spacing-sizing-12);
                font: var(--labels-small);
            }
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
