[data-bspk='input-phone'] {
    position: relative;
    width: 100%;
}

[data-bspk-owner='input-phone'] {
    padding-left: 0;

    [data-bspk='divider'] {
        margin: 0 var(--spacing-sizing-02) 0 0;
    }

    [data-leading] {
        overflow: hidden;
        position: relative;

        [contentEditable] {
            position: absolute;
            opacity: 0;
            inset: 0;
            z-index: 2;
        }

        [contentEditable]:focus-visible {
            outline: none;

            & + [data-bspk='button'] {
                outline: solid 2px var(--stroke-neutral-focus);
            }
        }

        [data-bspk='button'] {
            gap: var(--spacing-sizing-02);
            padding: 0 var(--spacing-sizing-03);
            min-height: 100%;
            margin-right: var(--spacing-sizing-02);

            &::after {
                content: '';
                position: absolute;
                top: var(--spacing-sizing-01);
                bottom: var(--spacing-sizing-01);
                right: 0;
                width: 1px;
                background-color: var(--stroke-neutral-base);
                pointer-events: none;
            }
        }
    }

    &[data-size='small'] {
        [data-leading] {
            [data-bspk='button'] {
                padding-left: var(--spacing-sizing-02);
            }
        }
    }
}
