[data-bspk-owner='password'] {
    [data-bspk='input'] {
        padding-right: 0;

        [data-toggle-visibility-button] {
            font: var(--button-font);
            height: 100%;
        }

        &[data-disabled],
        &[data-readonly] {
            [data-toggle-visibility-button] {
                cursor: default;
            }
        }

        &[data-size='small'] {
            --button-font: var(--labels-small);
        }

        &[data-size='medium'] {
            --button-font: var(--labels-base);
        }

        &[data-size='large'] {
            --button-font: var(--labels-large);
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
