[data-bspk='menu-button'] {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 48px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: var(--spacing-sizing-01);
    color: var(--foreground-neutral-on-surface-variant-01);
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
