[data-bspk='button-dock'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--spacing-sizing-02) var(--spacing-sizing-04);
    gap: var(--spacing-sizing-04);

    &[data-arrangement='fill'] {
        display: flex;

        [data-bspk='button'] {
            flex: 1;
        }
    }

    &[data-arrangement='spread'] {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        align-items: center;
        width: 100%;

        [data-bspk='button'] {
            min-width: var(--spacing-sizing-12);
            justify-self: stretch;
        }

        [data-bspk='button']:first-child {
            grid-column: 1;
        }

        [data-bspk='button']:last-child {
            grid-column: 3;
        }
    }

    &[data-mode='fixed'] {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background: var(--surface-neutral-t1-base);
        box-shadow: var(--drop-shadow-north);
        z-index: var(--z-index-button-dock);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
