[data-bspk='select'] {
    // default -- size medium not disabled or readonly

    --select-background: var(--surface-neutral-t1-base);
    --select-border-color: var(--stroke-neutral-base);
    --select-text-color: var(--foreground-neutral-on-surface);
    --select-height: var(--spacing-sizing-10);
    --select-font: var(--body-base);
    --select-clear-height: var(--spacing-sizing-05);
    --select-padding: var(--spacing-sizing-03);
    --select-icon-width: var(--spacing-sizing-05);

    position: relative;
    width: 100%;
    max-width: 280px;
    outline: unset;
    min-height: var(--select-height);
    max-height: var(--select-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sizing-02);
    flex-grow: 0;
    flex-shrink: 0;
    text-align: left;
    font: var(--select-font);
    border: 1px solid var(--select-border-color);
    border-radius: var(--radius-sm);
    background: var(--select-background);
    padding: 0 var(--select-padding);

    * {
        pointer-events: none;
    }

    [data-bspk='list-item'][data-bspk-owner='select'] {
        display: block;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0;
        min-height: auto;

        [data-item-label] [data-text] {
            color: var(--select-text-color);
        }

        &[data-placeholder] {
            [data-item-label] [data-text] {
                color: var(--foreground-neutral-on-surface-variant-03);
            }
        }
    }

    [data-icon] {
        display: flex;
        flex-direction: column;
        justify-content: center;

        svg {
            transform: rotate(90deg);
            width: var(--select-icon-width);
        }
    }

    [data-bspk='list-item'][data-selected] {
        background: var(--surface-brand-primary-highlight);
    }

    &[data-size='small'] {
        --select-height: var(--spacing-sizing-08);
        --select-font: var(--body-small);
        --select-clear-height: var(--spacing-sizing-05);
        --select-padding: var(--spacing-sizing-02);
        --select-icon-width: var(--spacing-sizing-05);
    }

    &[data-size='large'] {
        --select-height: var(--spacing-sizing-12);
        --select-font: var(--body-large);
        --select-clear-height: var(--spacing-sizing-06);
        --select-icon-width: var(--spacing-sizing-06);
    }

    &:disabled {
        --select-text-color: var(--foreground-neutral-disabled-on-surface);
        --select-border-color: var(--stroke-neutral-disabled-light);
        --select-background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));

        &[aria-readonly]:not([data-empty]) {
            --select-text-color: var(--foreground-neutral-on-surface);
        }
    }

    &:not(:disabled) {
        &:focus {
            --select-border-color: var(--stroke-neutral-focus);

            border-width: 1px;
            outline: 1px solid var(--stroke-neutral-focus);
        }

        &:hover {
            --select-background:
                linear-gradient(var(--interactions-neutral-hover-opacity), var(--interactions-neutral-hover-opacity)),
                linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
        }

        &:active {
            --select-background:
                linear-gradient(var(--interactions-neutral-press-opacity), var(--interactions-neutral-press-opacity)),
                linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
        }
    }

    &[data-invalid] {
        --select-border-color: var(--status-error);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
