[data-bspk='toggle-option'] {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr;
    grid-column-gap: var(--spacing-sizing-02);
    user-select: none;
    background: unset;
    border: unset;
    cursor: pointer;
    min-height: var(--spacing-sizing-08);
    max-width: 100%;
    padding: var(--spacing-sizing-01);

    &:has([data-description]) {
        align-items: unset;
    }

    // this media query targets touch devices
    @media (any-pointer: coarse) {
        min-height: var(--spacing-sizing-12);
    }

    [data-control],
    [data-label],
    [data-description] {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    [data-label] {
        color: var(--foreground-neutral-on-surface);
        font: var(--labels-base);
    }

    [data-description] {
        grid-column-start: 2;
        font: var(--body-small);
        color: var(--foreground-neutral-on-surface-variant-01);
    }

    &:not([aria-disabled]) {
        [data-pseudo='focus'] &,
        &:focus-visible,
        &:has(*:focus-visible) {
            outline: var(--stroke-neutral-focus) 2px solid;
        }
    }

    &[aria-disabled] {
        cursor: not-allowed;

        [data-label] {
            color: var(--foreground-neutral-disabled-on-surface);
        }

        [data-description] {
            color: var(--foreground-neutral-disabled-on-surface);
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
