[data-bspk='text-input'] {
    --border-color: var(--stroke-neutral-base);

    display: flex;
    flex-flow: row nowrap;
    background-color: var(--surface-neutral-t1-base);
    border: solid 1px var(--border-color);
    height: var(--field-height);
    border-radius: var(--radius-sm);
    padding: 0 0 0 var(--field-padding);
    gap: var(--spacing-sizing-01);
    width: 100%;

    &[data-hide-clear-button] {
        padding-right: var(--field-padding);
    }

    & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--field-height);
        font: var(--field-font);
        color: var(--foreground-neutral-on-surface);
        min-width: 0;
    }

    &:hover:not(:focus-within) {
        background:
            linear-gradient(var(--interactions-hover-opacity), var(--interactions-hover-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &:active:not(:focus-within) {
        background:
            linear-gradient(var(--interactions-press-opacity), var(--interactions-press-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &[data-readonly] {
        --border-color: var(--stroke-neutral-disabled-light);

        background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &[data-disabled],
    &:has(input[disabled]) {
        --border-color: var(--stroke-neutral-disabled-light);

        background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));

        & > * {
            color: var(--foreground-neutral-disabled-on-surface);
        }
    }

    &[data-invalid] {
        --border-color: var(--status-error);
    }

    &[data-size='small'] {
        --field-padding: var(--spacing-sizing-02);
        --field-height: var(--spacing-sizing-08);
        --field-font: var(--body-small);
        --field-icon-width: var(--spacing-sizing-04);
        --field-clear-width: var(--spacing-sizing-05);
    }

    &[data-size='medium'] {
        --field-padding: var(--spacing-sizing-03);
        --field-height: var(--spacing-sizing-10);
        --field-font: var(--body-base);
        --field-icon-width: var(--spacing-sizing-05);
        --field-clear-width: var(--spacing-sizing-05);
    }

    &[data-size='large'] {
        --field-padding: var(--spacing-sizing-03);
        --field-height: var(--spacing-sizing-12);
        --field-font: var(--body-large);
        --field-icon-width: var(--spacing-sizing-06);
        --field-clear-width: var(--spacing-sizing-06);
    }

    [data-leading],
    [data-trailing] {
        svg {
            width: var(--field-icon-width);
        }
    }

    label {
        font: var(--labels-small);
        color: var(--foreground-neutral-on-surface-variant-01);
    }

    input {
        flex: 1;
        background-color: transparent !important;
        border: none;
        outline: none;
        padding: 0;
        pointer-events: all;
        text-overflow: ellipsis;

        &[type='number']::-webkit-inner-spin-button,
        &[type='number']::-webkit-outer-spin-button {
            display: none;
        }
    }

    button[data-clear] {
        display: flex;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        pointer-events: all;
        margin-left: var(--spacing-sizing-02);
        padding-right: var(--field-padding);

        svg {
            pointer-events: none;
            width: var(--field-clear-width);
        }
    }

    &:focus-within {
        --border-color: var(--stroke-neutral-focus);

        outline: 1px solid var(--stroke-neutral-focus);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
