[data-bspk='date-input'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 360px;
    width: 100%;

    [data-bspk='text-input'] {
        padding-right: 0;
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
