[data-bspk-utility='field'] {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sizing-01);
}

[data-bspk='field-label'] {
    span {
        font: var(--labels-small);
        color: var(--foreground-neutral-on-surface);

        &[data-required] {
            font: var(--body-small);
            color: var(--foreground-neutral-on-surface-variant-01);
        }
    }
}

[data-bspk='field-description'] {
    font: var(--body-small);
    color: var(--foreground-neutral-on-surface-variant-01);
    margin-top: -4px;
    margin-bottom: 4px;
}

[data-bspk-owner='field-error'] {
    // Styles for FieldError component when used inside Field
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
