[data-bspk-utility='field'] {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sizing-01);
    border: none;
    min-inline-size: unset;
}

[data-bspk='field-label'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sizing-01);

    span {
        font: var(--labels-small);
        color: var(--foreground-neutral-on-surface);

        &[data-required] {
            font: var(--body-small);
            color: var(--foreground-neutral-on-surface-variant-01);
        }

        &[data-trailing] {
            font: var(--body-small);
            color: var(--foreground-neutral-on-surface-variant-02);
            margin-left: auto;
        }
    }
}

[data-bspk='field-description'] {
    font: var(--body-small);
    color: var(--foreground-neutral-on-surface-variant-01);
}

[data-bspk-owner='field-error'] {
    // Styles for FieldError component when used inside Field
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
