[data-bspk='drawer'] {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // width: 100%;
    // background-color: var(--surface-spectrum-blue);
    box-shadow: var(--drop-shadow-float);
    background: var(--surface-neutral-t1-base);
    color: var(--foreground-neutral-on-surface);
    animation-name: var(--box-animation-name);
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    [data-responsive] {
        // width: 100%;
        // max-width: var(--width);
        // margin: 0 auto;
    }

    &[data-persistent-placement='top'] {
        --box-animation-name: placement-top;

        position: absolute;
        top: 0;
        width: 100%;
        border-bottom-left-radius: var(--radius-lg);
        border-bottom-right-radius: var(--radius-lg);
    }

    &[data-persistent-placement='right'] {
        --box-animation-name: placement-right;

        position: absolute;
        right: 0;
        height: 100%;
        border-top-left-radius: var(--radius-lg);
        border-bottom-left-radius: var(--radius-lg);
    }

    &[data-persistent-placement='bottom'] {
        --box-animation-name: placement-bottom;

        position: absolute;
        bottom: 0;
        width: 100%;
        border-top-left-radius: var(--radius-lg);
        border-top-right-radius: var(--radius-lg);
    }

    &[data-persistent-placement='left'] {
        --box-animation-name: placement-left;

        position: absolute;
        left: 0;
        height: 100%;
        border-top-right-radius: var(--radius-lg);
        border-bottom-right-radius: var(--radius-lg);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
