[data-bspk='password-input'],
[data-bspk='password-field'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    [data-bspk='text-input'] input[type='password'] {
        color: transparent;
    }

    [data-toggle-visibility-button] {
        appearance: none;
        background: none;
        box-shadow: none;
        padding: 0;
        cursor: pointer;
        border: none;
        color: inherit;
        font: inherit;
        width: var(--spacing-sizing-12);
        text-align: center;
        border-radius: var(--radius-sm);

        [data-pseudo='focus'] > &,
        &:focus-visible {
            outline: solid 2px var(--stroke-neutral-focus);
        }
    }

    [data-disabled],
    [data-readonly] {
        [data-toggle-visibility-button] {
            cursor: default;
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
