[data-bspk='date-picker'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    [data-bspk='input'] {
        padding-right: 0;

        + [data-bspk='button'] {
            position: absolute;
            right: var(--spacing-sizing-03);
            top: 50%;
            transform: translateY(-50%);
            padding: var(--spacing-sizing-01) var(--spacing-sizing-02);
            border-radius: var(--radius-sm);
            background: transparent;
            border: none;
            cursor: pointer;

            svg {
                width: var(--icon-size-16);
                height: var(--icon-size-16);
                color: var(--foreground-neutral-on-surface-variant-02);
            }
        }
    }

    [data-bspk='calendar-popup'] {
        border-radius: var(--radius-lg);
        box-shadow: var(--drop-shadow-float);
        z-index: var(--z-index-dropdown);
        width: fit-content;
    }

    [data-bspk='inline-alert'] {
        margin-top: var(--spacing-sizing-01);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
