[data-bspk='carousel'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    background: #fff;
    gap: var(--spacing-sizing-02);

    [data-items-container] {
        width: 100%;
        overflow: hidden;
    }

    [data-items-track] {
        display: flex;
        align-items: center;
        transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        gap: var(--item-gap, var(--spacing-sizing-02));
        transform: translateX(var(--translate-x, 0));
    }

    [data-item-wrapper] {
        min-width: var(--item-width, var(--spacing-sizing-14));
        overflow: hidden;
    }

    [data-controls] {
        display: flex;
        align-items: center;
        gap: var(--spacing-sizing-02);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
