[data-bspk='carousel'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    background: #fff;

    [data-items-container] {
        width: 100%;
        overflow: hidden;
        min-height: 200px;
        margin: 2rem 0;
    }

    [data-items-track] {
        display: flex;
        align-items: center;
        transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        gap: var(--item-gap);
        transform: translateX(var(--translate-x));
    }

    [data-item-wrapper] {
        min-width: var(--item-width);
        overflow: hidden;

        // opacity: idx === safeCurrent ? 1 : 0.5;
        // transform: scale(idx === safeCurrent ? 1 : 0.9);
        // transition: opacity 0.3s, transform 0.3s;
        // box-shadow: idx === safeCurrent ? '0 2px 8px rgba(0,0,0,0.08)' : 'none';
    }

    [data-controls] {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
