[data-bspk='carousel'] {
    /*! 
    --current-slide: is set via inline style 
    --gap: is set via inline style
    --item-width: is set via inline style
    */

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    background: #fff;
    padding: 0 var(--spacing-sizing-04);

    --translate-x: calc(calc(var(--current-slide) * calc(var(--item-width) + var(--gap)) * -1));

    [data-items-container] {
        width: 100%;
        overflow: hidden;
    }

    [data-items-track] {
        display: flex;
        align-items: center;
        transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateX(var(--translate-x, 0));
        gap: var(--gap);
    }

    [data-item-wrapper] {
        min-width: var(--item-width);
        overflow: hidden;
    }

    [data-controls] {
        display: flex;
        align-items: center;
        gap: var(--spacing-sizing-02);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
