[data-bspk='dialog'] {
    --width: 600px; // default width for dialog box

    position: fixed;
    inset: 0;
    z-index: var(--z-index-dialog);
    pointer-events: none; // makes scrim clckable

    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translate(var(--spacing-sizing-01), var(--spacing-sizing-01));
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    @keyframes placement-left {
        0% {
            transform: translateX(-100vw);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes placement-right {
        0% {
            transform: translateX(100vw);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes placement-top {
        0% {
            transform: translateY(-100vh);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes placement-bottom {
        0% {
            transform: translateY(100vh);
        }

        100% {
            transform: translateY(0);
        }
    }

    [data-dialog-box] {
        pointer-events: all; // allow pointer events on the dialog box
        text-align: start;
        position: relative;
        border-radius: var(--radius-lg);
        box-shadow: var(--drop-shadow-float);
        background: var(--surface-neutral-t1-base);
        color: var(--foreground-neutral-on-surface);
        max-height: calc(100vh - var(--spacing-sizing-24));
        z-index: 2;
        width: calc(100% - var(--spacing-sizing-08));
        animation-name: var(--box-animation-name);
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        > :first-of-type {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }

        // we make the width responsive to the viewport
        @media (width >= 640px) {
            width: 90%;
        }

        @media (width >= 768px) {
            width: 80%;
        }

        @media (width >= 1024px) {
            width: 60%;
        }

        @media (width >= 1280px) {
            width: 50%;
        }
    }

    &[data-placement='center'] {
        --box-animation-name: fade-in;

        display: flex;
        justify-content: center;
        align-items: center;

        [data-dialog-box] {
            position: absolute;
        }
    }

    &[data-placement='bottom'] {
        --box-animation-name: placement-bottom;

        [data-dialog-box] {
            position: absolute;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            width: var(--width);
            left: calc(50% - var(--width) / 2);
            transform: translateX(-50%);
            bottom: 0;
        }
    }

    &[data-placement='top'] {
        --box-animation-name: placement-top;

        [data-dialog-box] {
            position: absolute;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            width: var(--width);
            left: calc(50% - var(--width) / 2);
            top: 0;
        }
    }

    &[data-placement='left'] {
        --box-animation-name: placement-left;

        [data-dialog-box] {
            position: absolute;
            max-height: unset;
            width: 280px;
            height: 100vh;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            left: 0;
        }
    }

    &[data-placement='right'] {
        --box-animation-name: placement-right;

        [data-dialog-box] {
            position: absolute;
            max-height: unset;
            width: 280px;
            height: 100vh;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            right: 0;
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
