[data-bspk-owner='phone-number-input'] {
    width: 100%;
    padding-left: 0;

    [data-bspk='divider'] {
        margin-left: 0;
        margin-top: var(--spacing-sizing-01);
        margin-bottom: var(--spacing-sizing-01);
    }

    [data-bspk='button'] {
        gap: 0;
        padding-left: var(--spacing-sizing-02);
    }

    [data-bspk='country-code'] {
        font: var(--body-base);
        color: var(--foreground-neutral-on-surface);
    }

    [data-bspk='txt'] {
        cursor: default;
    }
}
