ul[data-bspk-utility='tab-list'][data-bspk='bottom-navigation'] {
    width: 100%;
    border-top: solid 1px var(--stroke-neutral-low);
    box-sizing: border-box;

    &[data-variant='elevated'] {
        box-shadow: var(--drop-shadow-north);
    }

    &:has(:focus-visible) {
        outline: none;
    }

    li {
        flex: 1;
        position: relative;
        height: var(--spacing-sizing-13);
        color: var(--foreground-neutral-on-surface-variant-02);
        font: var(--labels-x-small);
        flex-direction: column;
        gap: 0;
        overflow: hidden;

        [data-label] {
            display: inline-block;
            max-width: calc(100% - var(--spacing-sizing-10));
        }

        &[aria-selected] {
            color: var(--foreground-brand-primary);

            &::after {
                content: '';
                position: absolute;
                top: 0;
                width: var(--spacing-sizing-06);
                height: 2px;
                border-radius: 0 0 2px 2px;
                background-color: var(--foreground-brand-primary);
            }
        }

        &[aria-disabled] {
            color: var(--foreground-neutral-disabled-on-surface);
        }

        &:not([aria-disabled]) {
            &[data-pseudo='focus'] > &,
            &:focus-visible {
                outline: solid 2px var(--stroke-neutral-focus);
            }

            [data-pseudo='hover'] &,
            &:hover {
                background-color: var(--interactions-neutral-hover-opacity);
            }

            [data-pseudo='active'] &,
            &:active {
                background-color: var(--interactions-neutral-press-opacity);
            }
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
