[data-bspk='table'] {
    /*! --template-columns: is set via inline style */
    width: 100%;
    border-collapse: separate;
    text-align: left;
    border-spacing: 2rem 0.125rem;
    color: var(--foreground-neutral-on-surface);
    font: var(--labels-base);
    border-radius: var(--radius-md);
    border: 1px solid var(--stroke-neutral-low);
    border-top-left-radius: var(--radius-md);
    border-top-right-radius: var(--radius-md);
    background-color: var(--surface-neutral-t1-base);

    table {
        display: grid;
        width: 100%;
        grid-template-columns: var(--template-columns, repeat(auto-fill, minmax(0, 1fr)));
        border-collapse: collapse;
    }

    [data-title] {
        padding: var(--spacing-sizing-03);
        width: 100%;
        border-bottom: 1px solid var(--stroke-neutral-low);
    }

    tr,
    tbody,
    thead {
        display: contents;
    }

    [data-title],
    th {
        background: var(--surface-neutral-t2-lowest);
        font: var(--labels-base);
    }

    td,
    th {
        display: flex;
        min-height: var(--spacing-sizing-10);
        padding: 0 var(--spacing-sizing-04);
    }

    th {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        border-bottom: 1px solid var(--stroke-neutral-base);
        position: relative;
        z-index: 1;

        &:focus {
            outline: solid 2px var(--stroke-neutral-focus);
            z-index: 2;
        }
    }

    td {
        flex-direction: column;
        justify-content: center;
        gap: var(--spacing-sizing-02);
        font: var(--labels-small);

        p {
            margin: 0;
            padding: 0;
            font: var(--body-small);
        }
    }

    tr:nth-child(even) td {
        background-color: var(--surface-neutral-t2-lowest);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
