[data-bspk='table'] {
    width: 100%;
    color: var(--foreground-neutral-on-surface);
    border-radius: var(--radius-md);
    border: 1px solid var(--stroke-neutral-low);
    background-color: var(--surface-neutral-t2-lowest);
    overflow-x: hidden;

    [data-title] {
        padding: var(--spacing-sizing-03);
        border-bottom: 1px solid var(--stroke-neutral-low);
    }

    table {
        display: grid;
        border-collapse: collapse;
        background-color: var(--surface-neutral-t1-base);

        /*! grid-template-columns are even or and inline style is set by the columns.width prop */
        grid-template-columns: repeat(var(--template-columns, 1), 1fr);
    }

    thead,
    tbody,
    tr {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
    }

    thead {
        cursor: pointer;
        border-bottom: 2px solid var(--stroke-neutral-low);
        background-color: var(--surface-neutral-t2-lowest);
    }

    th {
        display: flex;
        min-height: var(--spacing-sizing-14);
        align-items: center;
        padding: var(--spacing-sizing-04) var(--spacing-sizing-03);
        font: var(--labels-base);
        justify-content: space-between;
    }

    tr {
        &[data-cell-row='even'] {
            background-color: var(--surface-neutral-t2-lowest);
        }
    }

    td {
        padding: var(--spacing-sizing-04) var(--spacing-sizing-03);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
