[data-bspk='table'] {
    /*! --template-columns: is set via inline style */

    --white-background: var(--surface-neutral-t1-base);
    --grey-background: var(--surface-neutral-t2-lowest);
    --icon-size: var(--spacing-sizing-05);

    min-width: 100%;
    overflow: auto hidden;
    border-collapse: separate;
    text-align: left;
    border-spacing: 2rem 0.125rem;
    color: var(--foreground-neutral-on-surface);
    font: var(--labels-base);
    border-radius: var(--radius-md);
    border: 1px solid var(--stroke-neutral-low);
    border-top-left-radius: var(--radius-md);
    border-top-right-radius: var(--radius-md);
    background: var(--white-background);

    /* [data-size='medium'] */
    --min-height: var(--spacing-sizing-10);
    --padding-y: var(--spacing-sizing-02);

    &[data-size='x-large'] {
        --min-height: var(--spacing-sizing-14);
        --padding-y: var(--spacing-sizing-04);
    }

    &[data-size='large'] {
        --min-height: var(--spacing-sizing-12);
        --padding-y: var(--spacing-sizing-03);
    }

    &[data-size='small'] {
        --min-height: var(--spacing-sizing-08);
        --padding-y: var(--spacing-sizing-01);
    }

    [data-scroll-container] {
        width: fit-content;
        min-width: 100%;
    }

    table {
        display: grid;
        grid-template-columns: var(--template-columns);
        border-collapse: collapse;
        min-width: 100%;

        tr,
        tbody,
        thead {
            display: contents;
        }

        %cell {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: var(--min-height);
            padding: calc(var(--padding-y) + 2px) var(--spacing-sizing-04);
            border: none;
            overflow: hidden;
        }

        caption {
            @extend %cell;

            grid-column: 1 / -1;
            background: var(--grey-background);
            border-bottom: 1px solid var(--stroke-neutral-low);
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            font: var(--labels-small);

            /* prevent background bleed */
            border-top-left-radius: var(--radius-md);
            border-top-right-radius: var(--radius-md);
        }

        th {
            @extend %cell;

            background: var(--grey-background);
            font: var(--labels-small);
            cursor: pointer;
            border-bottom: 1px solid var(--stroke-neutral-base);
            white-space: nowrap;

            &[data-sortable] {
                padding: 0;

                button {
                    @extend %cell;

                    background: var(--grey-background);
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: var(--spacing-sizing-02);
                    width: 100%;
                    cursor: pointer;
                    font: inherit;

                    &:hover {
                        background:
                            linear-gradient(
                                var(--interactions-neutral-hover-opacity),
                                var(--interactions-neutral-hover-opacity)
                            ),
                            linear-gradient(var(--grey-background), var(--grey-background));
                    }

                    &:focus-visible {
                        outline: solid 2px var(--stroke-neutral-focus);
                        outline-offset: 2px;
                        z-index: 2;
                    }

                    svg {
                        width: var(--icon-size);
                    }
                }
            }

            &[data-align='right'] {
                align-items: flex-end;

                button {
                    justify-content: flex-end;
                }
            }

            &[data-align='center'] {
                align-items: center;

                button {
                    justify-content: center;
                }
            }

            &[data-align='left'] {
                align-items: flex-start;

                button {
                    justify-content: space-between;
                }
            }
        }

        thead:first-child {
            /* target the first header row only if the thead is first, i.e. caption is not present */
            tr:first-child th {
                &:first-child {
                    border-top-left-radius: var(--radius-md);
                }

                &:last-child {
                    border-top-right-radius: var(--radius-md);
                }
            }
        }

        td {
            @extend %cell;

            font: var(--body-small);

            &[data-align='right'] {
                align-items: flex-end;
            }

            &[data-align='center'] {
                align-items: center;
            }

            &[data-align='left'] {
                align-items: flex-start;
            }

            &[data-valign='top'] {
                justify-content: flex-start;
            }

            &[data-valign='bottom'] {
                justify-content: flex-end;
            }

            &[data-valign='center'] {
                justify-content: center;
            }

            p {
                margin: 0;
                padding: 0;
                font: var(--body-small);
            }

            &[data-action]:hover {
                background:
                    linear-gradient(
                        var(--interactions-neutral-hover-opacity),
                        var(--interactions-neutral-hover-opacity)
                    ),
                    linear-gradient(var(--white-background), var(--white-background));
            }
        }

        tr:nth-child(even) td {
            background: var(--grey-background);

            &[data-action]:hover {
                background:
                    linear-gradient(
                        var(--interactions-neutral-hover-opacity),
                        var(--interactions-neutral-hover-opacity)
                    ),
                    linear-gradient(var(--grey-background), var(--grey-background));
            }
        }
    }

    &:not([data-has-pagination]) {
        table tr:last-child {
            /* prevent background bleed */
            td:first-child {
                border-bottom-left-radius: var(--radius-md);
            }

            td:last-child {
                border-bottom-right-radius: var(--radius-md);
            }
        }
    }

    [data-pagination] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-sizing-03) var(--spacing-sizing-04);
        width: 100%;

        [data-pagination-label] {
            font: var(--body-small);
            min-width: fit-content;
        }

        [data-bspk='pagination'] {
            flex-grow: 0;
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
