[data-bspk='form-field'] {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sizing-01);

    header {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        label {
            flex-grow: 1;
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
