[data-bspk='segmented-control'] {
    display: flex;
    flex-direction: row;
    max-width: 100%;

    --outer-height: var(--spacing-sizing-10);
    --inner-height: var(--spacing-sizing-08);
    --svg-width: 20px;

    &[data-width='fill'] {
        align-items: stretch;
        width: 100%;

        --btn-flex-grow: 1;

        margin: 0 var(--spacing-sizing-04);
    }

    &[data-width='hug'] {
        width: fit-content;

        --btn-flex-grow: 0;
    }

    &[data-size='small'] {
        --outer-height: var(--spacing-sizing-08);
        --inner-height: var(--spacing-sizing-06);
        --svg-width: 16px;
    }

    svg {
        width: var(--svg-width) !important;
    }

    button {
        border: 0;
        cursor: pointer;
        color: var(--foreground-neutral-on-surface);
        flex-grow: var(--btn-flex-grow);
        font: var(--labels-small);
        margin: 0;
        height: var(--spacing-sizing-12);
        background: transparent;
        position: relative;
        white-space: nowrap;

        [data-focus-ring] {
            display: none;
        }

        [data-outer] {
            height: var(--outer-height);
            background: var(--surface-neutral-t3-low);
            margin: var(--spacing-sizing-01) 0;
            padding: var(--spacing-sizing-01) 0;
            display: block;
        }

        [data-inner] {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: var(--inner-height);
            border-bottom: 1px solid transparent;
            justify-content: center;
            gap: var(--spacing-sizing-01);
            border-radius: var(--radius-small);
            padding: var(--spacing-sizing-02) var(--spacing-sizing-03);
        }

        &:first-of-type {
            [data-outer] {
                border-top-left-radius: var(--radius-medium);
                border-bottom-left-radius: var(--radius-medium);
                padding-left: var(--spacing-sizing-01);
            }
        }

        &:last-of-type {
            [data-outer] {
                border-top-right-radius: var(--radius-medium);
                border-bottom-right-radius: var(--radius-medium);
                padding-right: var(--spacing-sizing-01);
            }
        }

        &:not(:disabled) {
            &:hover {
                [data-inner] {
                    background: var(--interactions-neutral-hover-opacity);
                }
            }

            &:active {
                [data-inner] {
                    background: var(--interactions-neutral-press-opacity);
                }
            }

            &[data-selected] {
                [data-inner] {
                    background: var(--surface-neutral-t1-base);
                }
            }

            &:focus-visible {
                z-index: 2;
                outline: solid 2px var(--stroke-neutral-focus);
            }
        }

        &:disabled {
            pointer-events: none;
            color: var(--foreground-neutral-disabled-on-surface);
            cursor: not-allowed;
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
