[data-bspk='segmented-control'] {
    background: var(--surface-neutral-t3-low);
    border-radius: var(--radius-sm);
    padding: var(--spacing-sizing-01);

    &[data-width='fill'] {
        margin: 0 var(--spacing-sizing-04);
    }

    li {
        color: var(--foreground-neutral-on-surface);
        padding: 0 var(--spacing-sizing-03);
        border-radius: var(--radius-sm);

        [data-inner] {
            [aria-hidden] {
                margin-right: var(--spacing-sizing-02);
            }
        }

        &:first-of-type {
            [data-outer] {
                border-top-left-radius: var(--radius-md);
                border-bottom-left-radius: var(--radius-md);
                padding-left: var(--spacing-sizing-01);
            }
        }

        &:last-of-type {
            [data-outer] {
                border-top-right-radius: var(--radius-md);
                border-bottom-right-radius: var(--radius-md);
                padding-right: var(--spacing-sizing-01);
            }
        }

        &:not([aria-disabled]) {
            &[aria-selected] {
                background: var(--surface-neutral-t1-base);
                box-shadow:
                    0 0 1px 0 var(--shadow-variant-03),
                    0 1px 1px 0 var(--shadow-variant-05);
            }

            &[data-active] {
                background: var(--interactions-neutral-hover-opacity);

                &[aria-selected] {
                    background:
                        linear-gradient(
                            var(--interactions-neutral-hover-opacity),
                            var(--interactions-neutral-hover-opacity)
                        ),
                        linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
                }
            }

            &:active {
                background: var(--interactions-neutral-press-opacity);
            }
        }

        &[aria-disabled] {
            color: var(--foreground-neutral-disabled-on-surface);
            cursor: not-allowed;
        }
    }
}

// /** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
