[data-bspk='avatar'] {
    --height: var(--spacing-sizing-10);
    --font: var(--labels-base);
    --foreground: var(--foreground-neutral-on-surface);
    --background: var(--surface-neutral-t3-low);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: var(--height);
    width: var(--height);
    aspect-ratio: 1 / 1;
    border-radius: 999px;
    background-color: var(--background);
    color: var(--foreground);
    font: var(--font);

    &:has(img) {
        overflow: hidden;
    }

    img {
        max-width: 100%;
    }

    &[data-size='x-small'] {
        --height: var(--spacing-sizing-06);
        --font: var(--labels-x-small);
    }

    &[data-size='small'] {
        --height: var(--spacing-sizing-08);
        --font: var(--labels-small);
    }

    &[data-size='medium'] {
        --height: var(--spacing-sizing-10);
        --font: var(--labels-base);
    }

    &[data-size='large'] {
        --height: var(--spacing-sizing-12);
        --font: var(--labels-large);
    }

    &[data-size='x-large'] {
        --height: var(--spacing-sizing-14);
        --font: var(--subheader-x-large);
    }

    &[data-size='xx-large'] {
        --height: var(--spacing-sizing-17);
        --font: var(--subheader-xx-large);
    }

    &[data-size='xxx-large'] {
        --height: var(--spacing-sizing-19);
        --font: var(--display-regular-small);
    }

    &[data-size='xxxx-large'] {
        --height: var(--spacing-sizing-21);
        --font: var(--display-regular-medium);
    }

    &[data-size='xxxxx-large'] {
        --height: var(--spacing-sizing-23);
        --font: var(--display-regular-large);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
