[data-bspk='badge'] {
    --surface-border: transparent;
    --size: var(--spacing-sizing-06);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-circular);
    height: var(--size);
    width: fit-content;
    min-width: var(--size);
    padding: 0 var(--spacing-sizing-02);
    border: var(--surface-border) 2px solid;
    font: var(--labels-x-small);
    color: var(--foreground-brand-on-primary);
    background: var(--surface-brand-primary);

    &[data-size='x-small'] {
        --size: var(--spacing-sizing-05);

        padding: 2px var(--spacing-sizing-01);
    }

    &[data-variant='secondary'] {
        color: var(--foreground-brand-on-secondary);
        background: var(--surface-brand-secondary);
    }

    &[data-surface-border] {
        --surface-border: var(--surface-neutral-t1-base);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
