/**
  * Base Styles
  * This file is not generated or distributed through @bspk/styles.
  * If not using a StylesProvider (recommended), this file should be imported first in the main stylesheet .
  * This file will contain only the most basic styles that are applied across all applications.
  * This file will NOT contain any component-specific styles.
  * This file will NOT contain any media queries.
  * This file will NOT contain any classes
*/

@use './colors';

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html:has(body[data-bspk]) {
    height: 100%;
    scroll-behavior: smooth;
}

body[data-bspk] {
    --z-index-tooltip-popover: 1100;
    --z-index-dialog: 1000;
    --z-index-dropdown: 900;
    --z-index-fab: 800;
    --z-index-navbar: 700;
    --z-index-footer: 600;

    height: 100%;
    scroll-behavior: smooth;
    font: var(--body-base);
    background-color: var(--background-base);
    color: var(--foreground-neutral-on-surface);

    @media (prefers-reduced-motion) {
        [data-animated] {
            animation: none !important;
        }
    }

    a {
        color: var(--foreground-link-text-default);

        &:not([disabled]) {
            &:hover {
                color: var(--foreground-link-text-default-hovered);
            }

            &:active {
                color: var(--foreground-link-text-default);
                filter: brightness(80%);
            }

            &:visited {
                color: var(--foreground-link-text-default-visited);
            }
        }

        &[disabled] {
            pointer-events: none;
            cursor: text;
            color: var(--foreground-link-text-default-disabled);
        }

        &[data-default] {
            color: var(--foreground-link-text-default) !important;
        }

        &[data-hover] {
            color: var(--foreground-link-text-default-hovered) !important;
        }

        &[data-active] {
            color: var(--foreground-link-text-default) !important;
            filter: brightness(80%);
        }

        &[data-visited] {
            color: var(--foreground-link-text-default-visited) !important;
        }
    }

    a[data-subtle] {
        text-decoration: none;
        color: var(--foreground-neutral-on-surface);

        &:not([disabled]) {
            &:hover {
                text-decoration: underline;
                color: var(--foreground-link-text-subtle-hovered);
            }

            &:active {
                text-decoration: underline;
                color: var(--foreground-link-text-subtle-pressed);
            }

            &:visited {
                color: var(--foreground-neutral-on-surface);
            }
        }

        &[disabled] {
            pointer-events: none;
            color: var(--foreground-link-text-subtle-disabled);
        }

        &[data-default] {
            text-decoration: none;
            color: var(--foreground-neutral-on-surface);
        }

        &[data-hover] {
            text-decoration: underline;
            color: var(--foreground-link-text-subtle-hovered) !important;
        }

        &[data-active] {
            text-decoration: underline;
            color: var(--foreground-link-text-subtle-pressed) !important;
        }

        &[data-visited] {
            color: var(--foreground-neutral-on-surface) !important;
        }
    }

    a[data-subtle-inverse] {
        text-decoration: none;
        color: var(--foreground-neutral-inverse-on-surface);

        &:not([disabled]) {
            &:hover {
                text-decoration: underline;
                color: var(--foreground-link-text-subtle-inverse-hovered);
            }

            &:active {
                text-decoration: underline;
                color: var(--foreground-link-text-subtle-inverse-pressed);
            }

            &:visited {
                color: var(--foreground-neutral-inverse-on-surface);
            }
        }

        &[disabled] {
            pointer-events: none;
            color: var(--foreground-link-text-subtle-inversed-disabled);
        }

        &[data-default] {
            text-decoration: none;
            color: var(--foreground-neutral-inverse-on-surface);
        }

        &[data-hover] {
            text-decoration: underline;
            color: var(--foreground-link-text-subtle-inverse-hovered) !important;
        }

        &[data-active] {
            text-decoration: underline;
            color: var(--foreground-link-text-subtle-inverse-pressed) !important;
        }

        &[data-visited] {
            color: var(--foreground-neutral-inverse-on-surface) !important;
        }
    }

    /** Remove default input autofill styles */
    input:-internal-autofill-previewed,
    input:-internal-autofill-selected,
    textarea:-internal-autofill-previewed,
    textarea:-internal-autofill-selected,
    select:-internal-autofill-previewed,
    select:-internal-autofill-selected {
        transition:
            color calc(infinity * 1s) step-end,
            background-color calc(infinity * 1s) step-end;
    }

    [data-sr-only] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    ol {
        list-style-type: decimal;

        li {
            list-style-type: decimal;
            margin-left: var(--spacing-sizing-05);
        }
    }

    ul {
        list-style-type: disc;

        li {
            list-style-type: disc;
            margin-left: var(--spacing-sizing-05);
        }
    }

    [data-touch-target] {
        display: none;
        touch-action: manipulation;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        user-select: none;
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        top: auto;
        left: auto;
    }

    [data-touch-target] ~ * {
        position: relative;
        z-index: 2;
    }

    /* if touchscreen */
    @media (any-pointer: coarse) {
        [data-touch-target] {
            display: block;
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
