[data-bspk='breadcrumb'] {
    width: 100%;

    ol {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 8px;

        li {
            display: flex;
            gap: 8px;
        }
    }
}
