[data-bspk='chip-group-utility'] {
    display: flex;
    gap: var(--spacing-sizing-02);
    width: 100%;
    overflow: scroll;

    &[data-wrap] {
        flex-flow: row wrap;
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
