[data-bspk='chip'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    height: var(--spacing-sizing-06);
    padding: 0 var(--spacing-sizing-02);
    font: var(--labels-small);
    color: var(--foreground-neutral-on-surface-variant-01);
    background-color: var(--surface-neutral-t1-base);
    border: 1px solid var(--stroke-neutral-low);
    border-radius: var(--radius-small);

    &:not([data-flat]) {
        box-shadow: var(--drop-shadow-raise);
    }

    &[data-variant='filter'] {
        cursor: pointer;
    }

    &[data-wrap] {
        height: auto;
    }

    &[data-disabled] {
        color: var(--foreground-neutral-disabled-on-surface);
        cursor: not-allowed;
        border-color: var(--stroke-neutral-disabled-light);
        background-image: 
    //

            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
    }

    &:not([data-disabled]) {
        &:hover {
            background-image: 
    //

                linear-gradient(var(--interactions-neutral-hover-opacity), var(--interactions-neutral-hover-opacity)),
                linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
        }

        &:active {
            background-image: 
    //

                linear-gradient(var(--interactions-neutral-press-opacity), var(--interactions-neutral-press-opacity)),
                linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
        }

        &:focus {
            outline: 1px solid var(--stroke-neutral-focus);
            border-color: var(--stroke-neutral-focus);
        }
    }

    &[data-selected] {
        background-color: var(--surface-brand-primary-highlight);
        border-color: var(--stroke-brand-primary);
    }

    [data-chip-icon] {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: var(--spacing-sizing-04);
        height: var(--spacing-sizing-04);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
