[data-bspk='dialog'] {
    position: fixed;
    inset: 0;
    z-index: var(--z-index-dialog);

    [data-dialog-box] {
        text-align: start;
        position: relative;
        border-radius: var(--radius-large);
        box-shadow: var(--drop-shadow-float);
        background: var(--surface-neutral-t1-base);
        color: var(--foreground-neutral-on-surface);
        max-height: calc(100vh - var(--spacing-sizing-24));
        z-index: 2;

        > :first-of-type {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }

        width: calc(100% - var(--spacing-sizing-08));

        // we make the width responsive to the viewport
        @media (width >= 640px) {
            width: 90%;
        }

        @media (width >= 768px) {
            width: 80%;
        }

        @media (width >= 1024px) {
            width: 60%;
        }

        @media (width >= 1280px) {
            width: 50%;
        }
    }

    [data-dialog-backdrop] {
        z-index: 1;
        position: fixed;
        inset: 0;
        background-color: var(--background-scrim);
        opacity: 0;
        transition: opacity 0.3s;
    }

    &[data-visibility='show'] {
        [data-dialog-backdrop] {
            opacity: 1;
        }
    }

    &[data-placement='center'] {
        display: flex;
        justify-content: center;
        align-items: center;

        [data-dialog-box] {
            transition: opacity 1s;
            opacity: 0;
        }

        &[data-visibility='show'] {
            [data-dialog-box] {
                opacity: 1;
            }
        }
    }

    &[data-placement='bottom'] {
        [data-dialog-box] {
            position: absolute;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            width: 600px;
            left: 50%;
            transform: translateX(-50%);
            bottom: -100vh;
            transition: bottom 0.3s;
        }

        &[data-visibility='show'] {
            [data-dialog-box] {
                bottom: 0;
            }
        }
    }

    &[data-placement='top'] {
        [data-dialog-box] {
            position: absolute;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            width: 600px;
            left: 50%;
            transform: translateX(-50%);
            top: -100vh;
            transition: top 0.3s;
        }

        &[data-visibility='show'] {
            [data-dialog-box] {
                top: 0;
            }
        }
    }

    &[data-placement='left'] {
        [data-dialog-box] {
            position: absolute;
            max-height: unset;
            width: 280px;
            height: 100vh;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            left: -100vw;
            transition: left 0.3s;
        }

        &[data-visibility='show'] {
            [data-dialog-box] {
                left: 0;
            }
        }
    }

    &[data-placement='right'] {
        [data-dialog-box] {
            position: absolute;
            max-height: unset;
            width: 280px;
            height: 100vh;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            right: -100vw;
            transition: right 0.3s;
        }

        &[data-visibility='show'] {
            [data-dialog-box] {
                right: 0;
            }
        }
    }
}

body:has([data-bspk='dialog']) {
    overflow: hidden;
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
