[data-bspk='divider'] {
    /*! --inset: is set via inline style */

    display: flex;
    background-color: var(--stroke-neutral-low);
    align-self: stretch;
    place-content: stretch stretch;
    margin: 0;
    padding: 0;
    content: 'hello';

    --length: calc(100% - var(--inset) * 2);

    &,
    &[data-thickness='light'] {
        --line-thickness: 1px;
        --padding: var(--spacing-sizing-02);
    }

    &[data-thickness='heavy'] {
        --line-thickness: 2px;
        --padding: var(--spacing-sizing-04);
    }

    &, // default
  &[data-orientation='horizontal'] {
        width: unset;
        min-height: unset;
        height: var(--line-thickness);
        min-width: var(--length);
        margin: var(--padding) var(--inset);
    }

    &[data-orientation='vertical'] {
        height: unset;
        min-width: unset;
        width: var(--line-thickness);
        min-height: var(--length);
        margin: var(--inset) var(--padding);
    }

    &[data-hide-padding] {
        --padding: 0;
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
