[data-bspk='dropdown'] {
    // default -- size medium not disabled or readonly
    --dropdown-background: var(--surface-neutral-t1-base);
    --dropdown-border-color: var(--stroke-neutral-base);
    --dropdown-text-color: var(--foreground-neutral-on-surface);
    --dropdown-height: var(--spacing-sizing-10);
    --dropdown-font: var(--body-base);
    --dropdown-clear-height: var(--spacing-sizing-05);
    --dropdown-padding: var(--spacing-sizing-03);
    --dropdown-icon-width: var(--spacing-sizing-05);

    position: relative;
    width: 100%;
    max-width: 280px;
    outline: unset;
    min-height: var(--dropdown-height);
    max-height: var(--dropdown-height);
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sizing-02);
    flex-grow: 0;
    flex-shrink: 0;
    text-align: left;
    font: var(--dropdown-font);
    border: 1px solid var(--dropdown-border-color);
    border-radius: var(--radius-small);
    background: var(--dropdown-background);
    padding: 0 var(--dropdown-padding);

    [data-placeholder] {
        display: block;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0;

        [data-inner] {
            min-height: auto;
            padding: 0;
        }

        [data-item-label] [data-text] {
            color: var(--dropdown-text-color);
        }
    }

    [data-svg] {
        display: flex;
        flex-direction: column;
        justify-content: center;

        svg {
            transform: rotate(90deg);
            width: var(--dropdown-icon-width);
        }
    }

    &[data-size='small'] {
        --dropdown-height: var(--spacing-sizing-08);
        --dropdown-font: var(--body-small);
        --dropdown-clear-height: var(--spacing-sizing-05);
        --dropdown-padding: var(--spacing-sizing-02);
        --dropdown-icon-width: var(--spacing-sizing-05);
    }

    &[data-size='large'] {
        --dropdown-height: var(--spacing-sizing-12);
        --dropdown-font: var(--body-large);
        --dropdown-clear-height: var(--spacing-sizing-06);
        --dropdown-icon-width: var(--spacing-sizing-06);
    }

    &:disabled {
        --dropdown-text-color: var(--foreground-neutral-disabled-on-surface);
        --dropdown-border-color: var(--stroke-neutral-disabled-light);
        --dropdown-background:
            linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
            linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));

        &[aria-readonly]:not([data-empty]) {
            --dropdown-text-color: var(--foreground-neutral-on-surface);
        }
    }

    &:not(:disabled) {
        &:focus {
            --dropdown-border-color: var(--stroke-brand-primary);
        }

        &:hover {
            --dropdown-background:
                linear-gradient(var(--interactions-neutral-hover-opacity), var(--interactions-neutral-hover-opacity)),
                linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
        }

        &:active {
            --dropdown-background:
                linear-gradient(var(--interactions-neutral-press-opacity), var(--interactions-neutral-press-opacity)),
                linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
        }
    }

    &[data-invalid] {
        --dropdown-border-color: var(--status-error);
    }

    &[data-empty] {
        --dropdown-text-color: var(--foreground-neutral-on-surface-variant-03);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
