[data-bspk='form-field'] {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sizing-01);

    header label {
        flex-grow: 1;
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
