body[data-bspk] a[data-bspk='list-item'] {
    color: unset !important;
    text-decoration: !important;
    font: !important;
}

[data-bspk='list-item'] {
    display: block;
    width: 100%;
    padding: 0 var(--spacing-sizing-02);
    background: unset;
    border: unset;
    margin: unset;
    text-decoration: unset;
    user-select: none;
    color: var(--foreground-neutral-on-surface);

    &:is(a),
    &:is(button),
    &[onclick],
    &[role='button'] {
        cursor: pointer;
    }

    &[data-action] {
        [data-pseudo='focus'] &,
        &:focus-visible,
        &:has(*:focus-visible) {
            // outline: 2px solid var(--stroke-neutral-focus);
            box-shadow: inset var(--stroke-neutral-focus) 0 0 0 2px;

            [data-inner] {
                border-color: transparent;
            }
        }

        [data-pseudo='hover'] &,
        &:hover {
            background-color: var(--interactions-neutral-hover-opacity);
        }

        [data-pseudo='active'] &,
        &[data-active],
        &:active {
            background-color: var(--interactions-neutral-press-opacity);
        }
    }

    &[aria-disabled] {
        [data-text],
        [data-sub-text] {
            color: var(--foreground-neutral-disabled-on-surface);
        }
    }

    [data-inner] {
        height: 100%;
        width: 100%;
        overflow: hidden;
        min-height: var(--item-size);
        display: flex;
        flex-direction: row;
        gap: var(--spacing-sizing-03);
        padding: var(--spacing-sizing-02) 0;
        justify-items: stretch;
    }

    [data-leading],
    [data-item-label],
    [data-trailing] {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1 1 0;
        min-width: 0;

        svg {
            width: 24px;
            max-width: unset;
        }
    }

    [data-leading],
    [data-trailing] {
        width: fit-content;
        flex: 0 0 auto;
    }

    [data-item-label] {
        text-align: left;

        [data-text] {
            width: 100%;
            font: var(--labels-base);
            color: var(--foreground-neutral-on-surface);
        }

        [data-sub-text] {
            width: 100%;
            font: var(--body-small);
            color: var(--foreground-neutral-on-surface-variant-01);
        }
    }

    [data-trailing]:has(input) {
        pointer-events: none;
    }

    [data-component='Img'] > img {
        height: 36px;
        width: 36px;
        max-width: unset;
    }

    &:is(label) {
        [data-inner] {
            border-bottom: 0;
            gap: var(--spacing-sizing-02);
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
