[data-bspk='menu'] {
    /*! --item-count: is set via inline style */

    width: 332px;
    border: 1px solid var(--stroke-neutral-low);
    background-color: var(--surface-neutral-t1-base);
    box-shadow: var(--drop-shadow-float);
    border-radius: var(--radius-large);
    display: flex;
    flex-direction: column;
    padding: var(--spacing-sizing-02) var(--spacing-sizing-02);

    --item-size: var(--spacing-sizing-12);

    &[data-floating] {
        z-index: var(--z-index-dropdown);
    }

    [data-bspk='list-item'] {
        min-height: var(--item-size);
        height: var(--item-size);

        &[data-selected] {
            background-color: var(--surface-brand-primary-highlight);
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
