[data-bspk='menu'] {
    /*! --item-count: is set via inline style */

    width: 332px;
    border: 1px solid var(--stroke-neutral-low);
    background-color: var(--surface-neutral-t1-base);
    box-shadow: var(--drop-shadow-float);
    border-radius: var(--radius-large);
    display: flex;
    flex-direction: column;

    --item-size: var(--spacing-sizing-12);

    &[data-floating] {
        z-index: var(--z-index-dropdown);
    }

    &[data-item-count] {
        height: calc(var(--item-count) * var(--item-size));
        overflow-y: scroll;
    }

    &[data-no-items] {
        padding: var(--spacing-sizing-08) var(--spacing-sizing-04);
        align-items: center;
        justify-content: center;
        gap: var(--spacing-sizing-03);
    }

    [data-list-item] {
        min-height: var(--item-size);
        height: var(--item-size);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
