[data-bspk='menu'] {
    --item-size: var(--spacing-sizing-12);
    --overflow-y: hidden;

    width: 332px;
    box-sizing: border-box;
    border: 1px solid var(--stroke-neutral-low);
    background-color: var(--surface-neutral-t1-base);
    box-shadow: var(--drop-shadow-float);
    border-radius: var(--radius-large);
    display: flex;
    flex-direction: column;
    overflow: hidden var(--overflow-y);

    &[data-floating] {
        z-index: var(--z-index-dropdown);
    }

    [data-bspk='list-item'] {
        min-height: var(--item-size);

        &[data-selected] {
            background-color: var(--surface-brand-primary-highlight);
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
