[data-bspk='modal'] {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: var(--spacing-sizing-02);
    padding: var(--spacing-sizing-04);

    > header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-sizing-04);
    }

    main {
        overflow: auto;
        flex: 1;
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
