[data-bspk='modal'] {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: var(--spacing-sizing-02);
    padding: var(--spacing-sizing-04);

    > header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-sizing-04);
    }

    main {
        overflow: auto;
        flex: 1;
        padding: var(--spacing-sizing-04) 0;
    }

    > footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        gap: var(--spacing-sizing-04);
    }

    // we make the width responsive to the viewport
    @media (width < 640px) {
        > footer {
            [data-bspk='button'] {
                width: 50%;
            }

            &[data-button-format='vertical'] {
                flex-direction: column-reverse;

                [data-bspk='button'] {
                    width: 100%;
                }
            }
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
