[data-bspk='skeleton'] {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--margin);
    animation: skeleton-pulse 1.5s infinite;

    @keyframes skeleton-pulse {
        0% {
            opacity: 0.8;
        }

        50% {
            opacity: 0.4;
        }

        100% {
            opacity: 0.8;
        }
    }

    &:empty {
        width: auto;
        height: auto;
        position: absolute;
        inset: 0;
        background: var(--foreground-neutral-skeleton-element);
        border-radius: var(--radius-small);
    }

    [data-line] {
        width: 100%;
        background: var(--foreground-neutral-skeleton-element);
        border-radius: var(--radius-small);
        height: var(--height);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
