[data-bspk='skeleton'] {
    /*! 
    --text-margin: is set via inline style
    --text-height: is set via inline style
    --height: is set via inline style
    --width: is set via inline style
    */

    display: flex;
    flex-direction: column;
    gap: var(--text-margin);
    animation: skeleton-pulse 1.5s infinite;
    background: var(--foreground-neutral-skeleton-element);

    @keyframes skeleton-pulse {
        0% {
            opacity: 0.8;
        }

        50% {
            opacity: 0.4;
        }

        100% {
            opacity: 0.8;
        }
    }

    &[data-variant='rectangular'],
    &[data-variant='photo'] {
        min-width: var(--spacing-sizing-08);
        min-height: var(--spacing-sizing-08);
        height: var(--height, var(--width));
        width: var(--width, var(--height));
        border-radius: var(--radius-small);
    }

    &[data-variant='photo'] {
        border-radius: var(--radius-medium);
    }

    &[data-variant='circular'] {
        border-radius: 100%;
        width: var(--width);
        aspect-ratio: 1/1;
    }

    &[data-variant='profile'] {
        border-radius: 100%;
        width: var(--spacing-sizing-10);
        aspect-ratio: 1/1;
    }

    &[data-variant='thumbnail'] {
        width: var(--spacing-sizing-12);
        height: var(--spacing-sizing-12);
        border-radius: var(--radius-small);
    }

    &[data-variant='text'] {
        background: transparent;
        min-height: unset;
        max-height: unset;
        width: 100%;
        height: fit-content;

        [data-line] {
            width: 100%;
            background: var(--foreground-neutral-skeleton-element);
            border-radius: var(--radius-small);
            height: var(--text-height);
        }

        // if there are 2 lines or more, make the last line 80% width
        &:has([data-line]:nth-child(2)) {
            [data-line]:last-child {
                width: 80%;
            }
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
