[data-bspk='table'] {
    width: 100%;
    border-collapse: separate;
    text-align: left;
    border-spacing: 2rem 0.125rem;
    display: grid;
    color: var(--foreground-neutral-on-surface);
    font: var(--labels-base);
    border-radius: var(--radius-medium);
    border: 1px solid var(--stroke-neutral-low);

    [data-cell] {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sizing-02);
        padding: var(--spacing-sizing-04);
        background-color: var(--surface-neutral-t1-base);
        border-bottom: var(--stroke-neutral-low) solid 1px;
        font: var(--labels-small);

        p {
            margin: 0;
            padding: 0;
            font: var(--body-small);
        }
    }

    [data-head] {
        display: flex;
        align-items: center;
        flex-direction: row;
        border-bottom: 1px solid var(--stroke-neutral-base);
        background: var(--surface-neutral-t2-lowest);
        height: var(--spacing-sizing-10);
        padding: 0 var(--spacing-sizing-03);
        font: var(--labels-base);

        &[data-head='first'] {
            border-top-left-radius: var(--radius-medium);
        }

        &[data-head='last'] {
            border-top-right-radius: var(--radius-medium);
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
