[data-bspk='tag'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    position: relative;
    padding: 0 var(--spacing-sizing-03);
    border-radius: var(--radius-small);
    color: var(--foreground) !important;
    background: var(--background);
    font: unset;
    text-decoration: unset;
    white-space: nowrap;
    pointer-events: none;

    &[data-wrap] {
        height: auto;
    }

    &[data-variant='pill'] {
        border-radius: var(--radius-circular);
    }

    &[data-variant='corner-wrap'] {
        border-bottom-right-radius: 0;
    }

    &[data-size='small'] {
        font: var(--labels-small);
        height: var(--spacing-sizing-08);
    }

    &[data-size='x-small'] {
        font: var(--labels-x-small);
        height: var(--spacing-sizing-06);
    }

    &[data-color='white'] {
        box-shadow: var(--drop-shadow-south);
    }

    [data-triangle] {
        position: absolute;
        bottom: -12px;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 12px 0 0;
        border-color: var(--foreground) transparent transparent transparent;
        transform: rotate(0deg);
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
