[data-bspk='textarea'] {
    display: grid;
    width: 100%;

    // &[data-size='medium']
    --font: var(--body-base);
    --line-height: 20px;
    --padding: var(--spacing-sizing-03);

    &[data-size='small'] {
        --font: var(--body-small);
        --line-height: 20px;
        --padding: var(--spacing-sizing-02);
    }

    &[data-size='large'] {
        --font: var(--body-large);
        --line-height: 24px;
        --padding: var(--spacing-sizing-03);
    }

    [data-replicated-value] {
        white-space: pre-wrap;
        visibility: hidden;
    }

    textarea,
    [data-replicated-value] {
        width: 100%;
        font: var(--font);
        border: 1px solid var(--border-color);
        padding: var(--padding);
        grid-area: 1 / 1 / 2 / 2;
        min-height: calc((var(--line-height) * var(--min-rows)) + (var(--padding) * 2));
        max-height: calc((var(--line-height) * var(--max-rows)) + (var(--padding) * 2));
    }

    textarea {
        --border-color: var(--stroke-neutral-base);

        resize: vertical;
        color: var(--foreground-neutral-on-surface);
        background-color: var(--surface-neutral-t1-base);
        border-radius: var(--radius-small);

        &:focus-within {
            --border-color: var(--stroke-neutral-focus);

            outline: none;
            color: var(--foreground-neutral-on-surface);
        }

        &:disabled {
            pointer-events: none;
            background: 
    // multiple colors

                linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
                linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
            color: var(--foreground-neutral-disabled-on-surface);
        }

        &:read-only {
            background: 
    // multiple colors

                linear-gradient(var(--interactions-disabled-opacity), var(--interactions-disabled-opacity)),
                linear-gradient(var(--surface-neutral-t1-base), var(--surface-neutral-t1-base));
            color: var(--foreground-neutral-on-surface-variant-02);
            cursor: not-allowed;
        }

        &[aria-invalid] {
            --border-color: var(--status-error);
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
