[data-bspk='snackbar-provider'] {
    position: fixed;
    z-index: var(--z-index-dialog);
    display: flex;
    flex-direction: column-reverse;
    max-height: 100%;
    overflow: hidden;
    inset: 0;
    align-items: center;
    gap: var(--spacing-sizing-02);
    pointer-events: none;
    padding: var(--spacing-sizing-02);
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
