[data-bspk='slider'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;

    [data-top-labels],
    [data-bottom-labels] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        user-select: none;
    }

    [data-top-labels] {
        color: var(--foreground-neutral-on-surface-variant-01);
    }

    [data-bottom-labels] {
        color: var(--foreground-neutral-on-surface-variant-02);
    }

    [data-slider-body] {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    [data-slider-background] {
        position: absolute;
        background: var(--surface-neutral-t3-low);
        height: var(--spacing-sizing-01);
        border-radius: 2px;
        left: 0;
        right: 0;
    }

    [data-slider-fill] {
        position: absolute;
        height: var(--spacing-sizing-01);
        background-color: var(--foreground-brand-primary);
        border-radius: 2px;
        left: 0;
    }

    [data-slider-knob] {
        position: absolute;
        border: 1px solid var(--stroke-neutral-low);
        border-radius: 50%;
        width: var(--spacing-sizing-04);
        height: var(--spacing-sizing-04);
        background-color: white;
        box-sizing: border-box;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.32);
        cursor: pointer;
    }

    [data-interval-dot] {
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: var(--foreground-neutral-on-surface-variant-01);
        transform: translate(-50%) rotate(45deg);
    }

    [data-interval-dot][data-filled-section] {
        background-color: var(--foreground-brand-on-primary);
    }

    [data-slider-body]:focus-visible {
        [data-slider-knob] {
            outline: 2px solid var(--stroke-neutral-focus);
        }
    }

    &[data-disabled],
    &[data-readonly] {
        [data-slider-knob] {
            cursor: default;
        }

        [data-interval-dot] {
            background-color: var(--foreground-neutral-disabled-on-surface);
        }

        [data-interval-dot][data-filled-section] {
            background-color: var(--foreground-brand-on-primary);
        }

        [data-slider-fill] {
            background-color: var(--foreground-neutral-disabled-on-surface);
        }

        [data-slider-background] {
            background: var(--interactions-disabled-opacity);
        }
    }

    &[data-disabled] {
        [data-bottom-labels] {
            color: var(--foreground-neutral-disabled-on-surface);
        }

        [data-value-label] {
            color: var(--foreground-neutral-disabled-on-surface);
        }
    }
}

/** Copyright 2025 Anywhere Real Estate - CC BY 4.0 */
