name: PR Checks

on:
    pull_request:
        branches:
            - main

jobs:
    run-lint:
        name: Build / Lint / Check CSS Variables
        runs-on: ubuntu-latest

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 20

            - name: Install dependencies
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
              run: npm ci

            - name: Run build
              run: npm run build

            - name: Run eslint and prettier
              run: npm run lint

            - name: Run stylelint
              run: npm run lint:css

            - name: Check CSS variables
              run: npx tsx .scripts/check-css-vars.ts
