name: PR Checks

on:
    pull_request:
        types: [opened, reopened, synchronize, edited, ready_for_review]
        branches:
            - main
            - dev

jobs:
    sematic-pr:
        name: Validate PR title
        runs-on: ubuntu-latest
        permissions:
            pull-requests: read
        steps:
            - uses: amannn/action-semantic-pull-request@v5
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    run-lint:
        name: Build / Lint / Check CSS Variables
        runs-on: ubuntu-latest

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: 24

            - name: Install dependencies
              run: npm ci

            - name: Lint Components
              run: npx tsx .scripts/tasks/lint-components.ts

            - name: Run eslint and prettier
              run: npm run lint

            - name: Run stylelint
              run: npm run lint:css

            - name: Check CSS variables
              run: npx tsx .scripts/check-css-vars.ts

            - name: Run build
              run: npm run build
