name: Release

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    release:
        name: Publish to npm
        runs-on: ubuntu-latest
        environment: release

        permissions:
            contents: write # to be able to publish a GitHub release
            issues: write # to be able to comment on released issues
            pull-requests: write # to be able to comment on released pull requests
            id-token: write # to enable use of OIDC for trusted publishing and npm provenance

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4

            - name: Install dependencies
              run: npm ci

            - name: Build
              run: npm run build

            - name: Run Semantic Release
              env:
                  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
              if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && github.ref == 'refs/heads/main') }}
              run: npm run semantic-release
